@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Injeção de Dependência</h1>
    <p>Sem código no front para representar as injeções de dependencias. Verifique diretamente nas Controllers do projeto, exemplificando facilmente cada um dos padrões de injeção: FromServices, Generic, LifeCycle, Injeção em múltiplas classes, 2 utilizações de Service Locator e uma representação em Real Life.</a>.</p>
</div>
